/* Popups */
.flex-popup .mapboxgl-popup-content {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
  font-size: 0.825rem;
  font-weight: 500;
  min-width: 250px;
  color: black;
  flex-wrap: wrap;
}
.flex-popup .mapboxgl-popup-content div:nth-of-type(2n) {
  background-color: #eee;
}

.flex-popup .flex-popup-title {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}

.flex-popup .flex-popup-row {
  display: flex;
  justify-content: space-between;
  padding-inline: 0.5rem;
}

.center-popup .mapboxgl-popup-content {
  display: grid;
  place-items: center;
  gap: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

/* Base map */
.mapbox-wrapper .mapboxgl-ctrl-logo {
  opacity: 0;
}

.mapbox-wrapper:hover .mapboxgl-ctrl-logo,
.mapbox-wrapper:focus .mapboxgl-ctrl-logo {
  opacity: 1;
}

/* Legend */
.legend-wrapper {
  gap: 1rem;
  filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.982));
  width: min-content;
}

#mapbox-legend::before {
  content: attr(data-min);
  position: absolute;
  bottom: -20px;
  left: 0;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
}

#mapbox-legend::after {
  content: attr(data-max);
  position: absolute;
  bottom: -20px;
  right: 0;
  color: white;
  font-size: 0.875rem;
  font-weight: 500;
}

/* Icon Legend */

.icon-legend-wrapper img {
  height: 20px;
  width: 20px;
  object-fit: cover;
}

.icon-legend-wrapper .icon-legend-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
