<style>

/* Scroll bar styling */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--base-color-color--blue-200) var(--base-color-color--blue-100);
}

/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}

/* Set color style to inherit */
.inherit-color * {
    color: inherit;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}


/* Make sure containers never lose their center alignment */
.container-medium,.container-small, .container-large {
	margin-right: auto !important;
  margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/*
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
*/

/* Apply "..." after 3 lines of text */
.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
    .hide, .hide-tablet {
        display: none !important;
    }
}
  @media screen and (max-width: 767px) {
    .hide-mobile-landscape{
      display: none !important;
    }
}
  @media screen and (max-width: 479px) {
    .hide-mobile{
      display: none !important;
    }
}
 
.margin-0 {
  margin: 0rem !important;
}
  
.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
padding: 0rem !important;
margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
  
.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.no-margin {
	margin: 0 0 0 0 !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}
  
.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}
  
.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
  
.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

/*
Custom CSS for Solcast Build
Code by Liam Hammersley of Rework Digital
*/

::marker {
	color: var(--text-color--text-secondary);
}

.border-color-tertiary {
	border-color: var(--border-color--border-tertiary) !important;
}

.is--navCurrent {
	color: var(--link-color--link-primary) !important;
}

.layout-first-item {
	order: -999;
}

.embed-hidden {
	visibility: hidden;
}

.no-border {
	border: 0 !important;
}

/* Custom Widths */

.width-10em {
	width: 10em;
}

.width-20em {
	width: 20em;
}

/* Table Properties */

.table_wrapper {
	overflow-x: auto !important;
}

table tbody tr:first-child td:first-child {
  border-top-left-radius: var(--sizes--table-border-radius) !important;
}
table thead tr:first-child th:last-child {
  border-top-right-radius: var(--sizes--table-border-radius) !important;

}
table tbody tr:last-child td:first-child{
  border-bottom-left-radius: var(--sizes--table-border-radius) !important;

}
table tr:last-child th:last-child,{
  border-bottom-right-radius: var(--sizes--table-border-radius) !important;
}


/* Table Rows */
.table-row-2 {
--table-row-count: 2;
}
.table-row-3 {
--table-row-count: 3;
}
.table-row-4 {
--table-row-count: 4;
}
.table-row-5 {
--table-row-count: 5;
}
.table-row-6 {
--table-row-count: 6;
}
.table-row-7 {
--table-row-count: 7;
}

.table_rows-2,.table-row-3,.table-row-4,.table-row-5,.table-row-6,.table-row-7 {
  grid-template-rows: repeat(var(--table-row-count), auto);
}


.row-span-2 {
  grid-row-start: span 2 !important;
  grid-row-end: span 2 !important;
}

.row-span-3 {
  grid-row-start: span 3 !important;
  grid-row-end: span 3 !important;
}

.row-span-4 {
  grid-row-start: span 4 !important;
  grid-row-end: span 4 !important;
}

/* Table Columns */
.table_col-2 {
  --table-col-count: 2;
}
.table_col-3 {
  --table-col-count: 3;
}
.table_col-4 {
  --table-col-count: 4;
}
.table_col-5 {
  --table-col-count: 5;
}
.table_col-6 {
  --table-col-count: 6;
}
.table_col-7 {
  --table-col-count: 7;
}
.table_col-8 {
  --table-col-count: 8;
}
.table_col-9 {
  --table-col-count: 9;
}
.table_col-10 {
  --table-col-count: 10;
}
.table_col-11 {
  --table-col-count: 11;
}
.table_col-12 {
  --table-col-count: 12;
}
.table_col-13 {
  --table-col-count: 13;
}
.table_col-14 {
  --table-col-count: 14;
}
.table_col-15 {
  --table-col-count: 15;
}
.table_col-16 {
  --table-col-count: 16;
}
.table_col-17 {
  --table-col-count: 17;
}
.table_col-18 {
  --table-col-count: 18;
}
.table_col-19 {
  --table-col-count: 19;
}
.table_col-20 {
  --table-col-count: 20;
}

.table_row,.table_col-2,.table_col-3,.table_col-4,.table_col-5,.table_col-6,.table_col-7,.table_col-8,.table_col-9,.table_col-10,.table_col-11,.table_col-12,.table_col-13,.table_col-14,.table_col-15,.table_col-16,.table_col-17,.table_col-18,.table_col-19,.table_col-20 {
	grid-template-columns: repeat(var(--table-col-count), minmax(var(--sizes--table-variables--fr-width),1fr)) !important;
}

.col-span-2 {
  grid-column-start: span 2;
  grid-column-end: span 2;
}
.col-span-3 {
  grid-column-start: span 3;
  grid-column-end: span 3;
}
.col-span-4 {
  grid-column-start: span 4;
  grid-column-end: span 4;
}
.col-span-5 {
  grid-column-start: span 5;
  grid-column-end: span 5;
}
.col-span-6 {
  grid-column-start: span 6;
  grid-column-end: span 6;
}
.col-span-6 {
  grid-column-start: span 7;
  grid-column-end: span 7;
}
.col-span-8 {
  grid-column-start: span 8;
  grid-column-end: span 8;
}
.col-span-9 {
  grid-column-start: span 9;
  grid-column-end: span 9;
}
.col-span-10 {
  grid-column-start: span 10;
  grid-column-end: span 10; 
}

/* Gap Sizes */
.gap-1 {
	gap: 1rem;
}

.gap-2 {
	gap: 2rem;
}

.gap-3 {
	gap: 3rem;
}

.gap-4 {
	gap: 4rem;
}



.cell-align-left {
  justify-content: flex-start !important;
  text-align: left !important;
}

.cell-align-right {
  justify-content: flex-end !important;
  text-align: right !important;
}

.cell-align-top {
	display: table-cell;
	vertical-align: top !important;
}

/* Resets margin on table header div within Rich Text Embeds -- Mostly used on Blog Posts*/

.text-rich-text .table_wrapper p {
	margin: 0 !important;
}


/* End Table Properties */

 @media (max-width: 1240px) {
 
  .latest-blog_list {
    gap: 2rem;
  }
}
</style>